@media only screen and (min-width: 992px) {
  .tab-3-md-image {
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .list-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

.padding-left-0 {
  padding-left: 0;
}

.ul-rtl {
  text-align: right;
  padding-right: 0.5rem !important;
}
