/*! survey2connect - v1.0.1 -  2020-02-17 by Ramakant Yadav
* https://www.survey2connect.com/
* Copyright (c) 2020 ; Licensed */
.reviews-inside-text {
  opacity: 0.7;
  color: #2a2a2a;
  font-family: "Helvetica Neue";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 25px;
}
.no-padding-mobile {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.botton-color {
  background-color: #4bb6f5;
  color: #ffff;
}
.brand-img-css {
  height: 30px;
  max-width: 100%;
  margin: auto auto;
}
.logo-1 {
  height: 20px !important;
}
.logo-2 {
  height: 30px !important;
}
.logo-3 {
  height: 45px !important;
}
.our-clients-section {
  padding-left: 100px;
  padding-right: 100px;
}
.btn-freetrial {
  color: #fff;
  border-color: #4bb6f5;
  background-color: #4bb6f5;
}
.btn-freetrial:hover {
  color: #fff;
}
.reviews-heading {
  color: #2a2a2a;
  font-family: "Helvetica Neue";
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.93px;
  line-height: 35px;
  text-align: center;
}
.reviews-subheading {
  color: #6a6a6a;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: center;
}
.carousel-indicators li {
  width: 5px;
  background-color: #969696;
  height: 5px;
  border-radius: 100%;
}
.carousel-indicators .active {
  height: 10px;
  width: 10px;
  background-color: #4bb6f5;
  margin-top: -2px;
}
.testi-quotes img {
  height: 40px;
  margin-left: 50px;
}
.review-container-css {
  border-radius: 6px;
  background-color: #fff;
}
.err-msg {
  display: none;
  color: red;
}
.offset-sm-2-override {
  margin-left: 16.66666667%;
}
@media screen and (max-width: 768px) {
  .mobile-width-100 {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .testi-quotes img {
    margin-left: 0 !important;
  }
}
@media (min-width: 992px) {
  .col-md-2-grid10 {
    padding-left: 15px;
    padding-right: 15px;
    width: 20%;
    flex: unset;
  }
}
.restaurant-bg {
  height: 550px;
  background: url(/images/homepage/new_homepage/backgrounds/top-bg.svg);
  background-position: bottom;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin: 0 -15px;
}
.trusted-by {
  min-height: 160px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.restaurant-title {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 60px;
  font-weight: 600;
  line-height: 68px;
}
.start-your-trial-background {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 80px;
}
.map-img {
  align-items: right;
  background-image: url(/images/homepage/industries/map.png);
}
.start-your-trial-text-align {
  text-align: left;
}
.start-your-trial {
  display: inline-block;
  border: 1px solid #e1ecff;
  background-color: #fff;
  padding: 20px;
  width: 75%;
  border-radius: 15px;
}
.start-your-trial-text-align {
  text-align: left;
}
.no-credit-card-requi {
  color: #818992;
  font-family: "Helvetica Neue";
  font-size: 17px;
  line-height: 26px;
  padding-top: 2px;
}
.button-shadow {
  box-shadow: 0 9px 16px rgba(0, 0, 0, 0.12), 0 1px 30px rgba(0, 0, 0, 0.24);
}
.start-your-trial-heading {
  color: #313339;
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-weight: 600;
  line-height: 52px;
}
.book-demo-subtitle {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 19px;
  margin-top: 5px;
}
.restaurant-subtitle {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
}
.book-a-demo-insurance {
  padding: 15px;
  font-size: larger;
  margin-top: 15px;
}
.img-middle {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.top-icons {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 25px;
}
.image-center {
  padding-top: 4%;
}
.sub-heading {
  margin-top: 2%;
  margin-bottom: 2%;
  color: #2f313c;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 17px;
}
.padding-section-2 {
  padding: 0 0 50px 0;
}
.margin-top-30 {
  margin-top: 30px;
}
.content {
  color: #777;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 20px;
}
.hidden {
  display: none;
}
.justify-p {
  text-align: justify;
}
.div-background-blue {
  background-color: #f7f7f7;
  margin: 0 -15px;
}
.div-background-blue-noMargin {
  background-color: #f7f7f7;
}
.div-padding-zero {
  padding: 0;
}
.div-padding-top-9 {
  padding-top: 9px;
}
.min-height-200 {
  min-height: 200px;
}
.padding-right-0 {
  padding-right: 0;
}
.margin-top-40 {
  margin-top: 40px;
}
.pointer {
  cursor: pointer;
}
.submit-button {
  width: 150px;
  border-radius: 4px;
  background-color: #5cbc5d;
  font-family: Helvetica Neue;
  font-weight: 500;
  color: #fff;
  font-size: 22px;
  text-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.17);
  letter-spacing: 1px;
}
.guest-experience-man {
  color: #0caaa4;
  font-family: Helvetica Neue;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.17);
  padding: 260px 0 0 64px;
}
.guest-experience-bg {
  height: 635px;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/homepage/industries/guest-experience-management.png);
  margin: 0 -15px;
}
.background-image-members-on-table {
  background-image: url(/images/homepage/industries/background-image-members-on-table.png);
}
.bottom-section-padding {
  padding-top: 52px;
  padding-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
}
.guest-experience-above {
  padding-top: 20%;
}
.header-margin-top-medium {
  margin-top: 0;
}
.guest-experience-above-bg {
  text-align: left;
  padding-left: 30px;
  padding-bottom: 20px;
}
.button-wrapper {
  text-align: center;
}
.margin-set-zero {
  margin-right: 0;
  margin-left: 0;
}
.section-1-padding-top {
  padding-top: 124.5px;
}
.padding-bottom-pagebottom {
  padding-bottom: 40px;
}
.memorable-restaurant-heading {
  color: #2d3136;
  font-family: Helvetica Neue;
  font-size: 36px;
  line-height: 46px;
  text-align: left;
  padding-top: 150px;
  padding-left: 40px;
  font-weight: 700;
}
.background-image-section-2 {
  background-image: url(/images/homepage/industries/edu_section_2_bg.png);
}
.our-clients {
  color: #717781;
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  background-color: #fff;
}
.our-clients-section {
  background-color: #fff;
  line-height: 93px;
  text-align: center;
}
.book-a-demo {
  padding: 15px;
  font-size: larger;
  margin-left: 15px;
  margin-top: 15px;
}
.SignUp {
  border-radius: 2px;
}
.button-try-free-demo {
  width: 13.89%;
  border-radius: 2px;
  background-color: #5cbc5d;
  position: absolute;
  top: 50%;
}
.button-text {
  width: 120px;
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 29px;
  text-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.17);
}
.guest-exp-management-heading {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 72px;
  font-weight: 500;
  line-height: 77px;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.starts-with-understa {
  color: #2c2c2c;
  font-family: Helvetica Neue;
  font-size: 28px;
  line-height: 50px;
  text-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.17);
  padding: 0.85% 0 0 64px;
}
.feedback-areas {
  color: #2f313c;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
}
.icon-resizing {
  height: 40px;
  width: 40px;
}
.flex-for-heading {
  align-items: center;
  display: flex;
  justify-content: center;
}
.feedback-subheading-text1 {
  height: 50px;
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 17px;
  line-height: 22px;
  background-color: #595959;
  border-radius: 5px;
}
.feedback-subheading-text2 {
  height: 50px;
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  background-color: #2f5597;
  border-radius: 5px;
}
.feedback-subheading-text3 {
  height: 50px;
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  background-color: #0072bb;
  border-radius: 5px;
}
.feedback-subheading-text4 {
  height: 50px;
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  background-color: #13b6af;
  border-radius: 5px;
}
.feedback-subheading-text5 {
  height: 50px;
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  background-color: #5cbc5d;
  border-radius: 5px;
}
.isometric-flat-d-interior-cafe {
  height: 517px;
  width: 744px;
}
.feedback-boarder-subpart {
  box-shadow: -1px 0 0 0 #e5e5e5, 1px 0 0 0 #e5e5e5;
  border-right-color: initial;
  border-right-width: initial;
  border-left-color: initial;
  border-left-width: initial;
  min-height: 236px;
}
.div-row-padding-feedbackSubHeading ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding: 15px 0 0 10px;
}
.list-items-bullets {
  padding-left: 1em;
  text-indent: -0.7em;
}
.list-items-bullets-grey li::before {
  content: "• ";
  font-size: 170%;
  color: #595959;
}
.list-items-bullets-darkblue li::before {
  content: "• ";
  font-size: 170%;
  color: #2f5597;
}
.list-items-bullets-blue li::before {
  content: "• ";
  font-size: 170%;
  color: #0072bb;
}
.list-items-bullets-skyblue li::before {
  content: "• ";
  font-size: 170%;
  color: #13b6af;
}
.list-items-bullets-green li::before {
  content: "• ";
  font-size: 170%;
  color: #5cbc5d;
}
.triangle-up {
  width: 35px;
  height: 35px;
  background: #fff;
  transform: rotate(225deg);
  border-left: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  margin: -19px 10px;
}
.clients-testimony {
  color: #777;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin: -10px 0 -10px 0;
}
.div-row-padding {
  padding: 20px 15px 20px 15px;
}
.div-row-padding-feedbackHeading {
  padding-top: 90px;
  padding-bottom: 20px;
}
.div-row-padding-feedbackSubHeading {
  padding: 0 108px 60px 100px;
}
.feedback-boarder-subpart-left {
  box-shadow: 2px 0 0 0 #000;
}
.feedback-boarder-subpart-right {
  box-shadow: -2px 0 0 0 #000;
}
.list-items-font {
  color: #777;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 20px;
  padding-top: 20px;
}
.s-2-c-enables-restaura {
  color: #2d3136;
  font-family: Helvetica Neue;
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  margin-top: 110px;
}
.and-hear-the-voice-o {
  color: #777;
  font-family: Helvetica Neue;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}
.picture-1 {
  height: 7.99%;
  width: 100%;
  margin-top: 100px;
  padding: 0 15px 0 15px;
}
.bitmap {
  height: 20.12%;
  width: 100%;
  opacity: 1;
  background-image: url(/images/homepage/industries/background.png);
}
.closed-loop-ticketin {
  color: #2f313c;
  font-family: Helvetica Neue;
  font-size: 38px;
  font-weight: 500;
  line-height: 46px;
  text-align: center;
}
.resolve-issues-quick {
  color: #777;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.utilize-all-question {
  color: #2f313c;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 17px;
}
.background-image-thirdSection {
  background-image: url(/images/homepage/industries/blue-background.jpg);
}
.convert-any-question {
  color: #777;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 20px;
}
.close-loop-subpart {
  padding: 15px 0 15px 0;
}
.rectangle-3-copy {
  height: 2.71%;
  background-color: #13b6af;
}
.bottom-padding-10 {
  padding-bottom: 5px;
  padding-top: 5px;
}
.multi-location {
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1.29px;
  line-height: 22px;
}
.set-up-a-feedback-sy {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 20px;
}
.clients-say-heading {
  color: #2f313c;
  font-family: Helvetica Neue;
  font-size: 38px;
  font-weight: 500;
  line-height: 46px;
  text-align: center;
}
.customers-say-subheading1 {
  color: #777;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin: -10px 0 -10px 0;
}
#thankYouMsg {
  display: none;
}
.div-padding-top-30 {
  padding-top: 30px;
}
.div-padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-bottom-22 {
  padding-bottom: 22px;
}
.subheading-clients-section {
  color: #818992;
  font-family: "Helvetica Neue";
  font-size: 17px;
  line-height: 26px;
  text-align: center;
}
.curved-rectangle-bgimg {
  height: 20.12%;
  width: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 50% 230%;
  background-image: url(/images/homepage/industries/curved-corner-rectangle.png);
}
.modal-demo-background {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 60%;
    margin: 1.75rem auto;
  }
}
.modal-demo-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.section-without-bottom {
  border-bottom-width: 0;
}
.hvr-grow {
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow:active,
.hvr-grow:focus,
.hvr-grow:hover {
  transform: scale(1.1);
}
.width-150px {
  width: 150px;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close-demo {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 700;
}
.top-margin-ten {
  margin-top: 5px;
}
.min-height-110 {
  min-height: 107px;
}
.margin-top-20 {
  margin-top: 20px;
}
.close-demo:focus,
.close-demo:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  #restaurant-mobile {
    display: none;
  }
  .selected {
    height: 150px;
    border-radius: 8px;
    background: linear-gradient(311.4deg, #106eb5 0, #1690b3 100%);
    box-shadow: 0 10px 20px 0 rgba(22, 144, 178, 0.29);
  }
  .non-selected {
    height: 150px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5),
      0 16px 33px 0 rgba(0, 0, 0, 0.09);
  }
  .image-heading-selected {
    height: 22px;
    color: #fff;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    text-align: center;
    padding-top: 5px;
  }
  .image-heading-non-selected {
    height: 22px;
    color: #2f313c;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    padding-top: 5px;
  }
  .tab-2-md-padding {
    padding: 0 62px;
  }
  .content-dimensions {
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .collect-data-image {
    height: 5.44%;
    width: 75.35%;
    margin-top: 20%;
  }
  .close-loop-image {
    margin-top: 30%;
  }
  .tab-3-right-border {
    border-right: 1px solid #cdcdcd;
  }
  .padding-right-90 {
    padding-right: 90px;
  }
  .padding-right-96 {
    padding-right: 96px;
  }
  .padding-right-100 {
    padding-right: 100px;
  }
  .padding-right-110 {
    padding-right: 110px;
  }
  .padding-left-50 {
    padding-left: 50px;
  }
  .padding-left-75 {
    padding-left: 75px;
  }
  .padding-bottom-8 {
    padding-bottom: 8%;
  }
  .min-height-100 {
    min-height: 100px;
  }
  .min-height-128 {
    min-height: 128px;
  }
  .min-height-180 {
    min-height: 180px;
  }
  .padding-left-right-85 {
    padding-left: 85px;
    padding-right: 85px;
  }
  .tab-3-md-image {
    margin-top: 4%;
    padding-left: 0;
  }
  .heading-content-dimensions-tab-2 {
    max-width: 85%;
    margin-left: 7%;
    margin-bottom: 5%;
  }
  .heading-content-dimensions-tab-4 {
    max-width: 85%;
    margin-left: 7%;
  }
  .padding-left-right-85-xs-sm {
    padding-left: 85px;
    padding-right: 85px;
  }
  .switch-tabs-desktop {
    padding: 50px 100px;
  }
  .heading {
    height: 0.84%;
    color: #2f313c;
    font-family: Helvetica Neue;
    font-size: 38px;
    font-weight: 500;
    line-height: 46px;
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .tab-3-image {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .start-your-trial {
    width: 100%;
  }
  .restaurant-title {
    font-family: "Helvetica Neue";
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
  }
  .align-center-tab-view {
    text-align: center;
  }
  .heading-mobile {
    height: 0.84%;
    color: #2f313c;
    font-family: Helvetica Neue;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
  }
  .tab-4-content-dimensions {
    min-height: 200px;
    max-width: 210px;
  }
  .padding-left-right-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .padding-bottom-35 {
    padding-bottom: 35px;
  }
  .margin-bottom-25 {
    margin-bottom: 25px;
  }
  .switch-tabs-content {
    margin-top: -90px;
  }
  .selected-mobile {
    height: 75px;
    border-radius: 8px;
    border: 2px solid #106eb5;
    background: #fff;
    box-shadow: 0 px 20px 0 rgba(22, 144, 178, 0.29);
  }
  .non-selected-mobile {
    height: 75px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5),
      0 16px 33px 0 rgba(0, 0, 0, 0.09);
  }
  .image-heading-selected-mobile {
    height: 22px;
    color: #2f313c;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    padding-top: 25px;
  }
  .image-heading-non-selected-mobile {
    display: none;
  }
  .top-icons-mobile {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    width: 45px;
  }
  .switch-tabs-mobile {
    padding: 50px 30px;
  }
  .icons-for-mobile {
    padding: 0 5px;
    width: 25%;
  }
}
@media (max-width: 768px) {
  .guest-experience-above {
    padding-top: 172px;
  }
  .restaurant-bg {
    height: 975px;
    background-size: cover;
  }
  .restaurant-subtitle {
    font-size: 15px;
    line-height: 25px;
  }
  .book-a-demo-insurance {
    padding: 10px;
  }
  .book-demo-subtitle {
    font-size: 12px;
  }
  .section-1-padding-top {
    padding-top: 160px;
  }
  .start-your-trial-text-align {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .memorable-restaurant-heading {
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
  }
}
@media (max-width: 768px) {
  .s-2-c-enables-restaura {
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
  }
}
@media (max-width: 768px) {
  .guest-exp-management-heading {
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
  }
}
@media (max-width: 768px) {
  .align-center-mobile {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .guest-exp-management-subheading {
    font-family: Helvetica Neue;
    font-size: 20px;
    line-height: 34px;
  }
  .modal-demo-content {
    width: 80%;
  }
  .submit-button {
    height: 50px;
    width: 130px;
    border-radius: 4px;
    background-color: #5cbc5d;
    margin-top: 3%;
    font-family: Helvetica Neue;
    font-weight: 500;
    color: #fff;
    font-size: 22px;
    text-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.17);
    letter-spacing: 1px;
  }
}
@media (min-width: 20px) {
  .col-xs-2-grid10 {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .col-sm-2-grid10 {
    width: 20%;
  }
  .banner-text-align {
    padding-left: 70px;
  }
}
@media (max-width: 992px) {
  .align-center-mobile {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .feedback-boarder-subpart {
    min-height: auto;
  }
  .trusted-by {
    display: block;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .div-row-padding-feedbackSubHeading {
    padding: 0 0 60px 0;
  }
}
.journey_type {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: none !important;
  text-align: center;
  margin: 0;
}
.map_customer_journey {
  margin: auto;
}
.admission {
  border-radius: 8px 8px 0 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.journey_and_feedback1 {
  background-color: #595959 !important;
}
.journey_and_feedback2 {
  background-color: #2f5597 !important;
}
.journey_and_feedback3 {
  background-color: #0072bb !important;
}
.journey_and_feedback4 {
  background-color: #13b6af !important;
}
.journey_and_feedback5 {
  background-color: #5cbc5d !important;
}
.journey_opacity {
  opacity: 1 !important;
}
.journey_block {
  margin: auto;
}
.journey_type_name {
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 700;
}
.list_items {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
  font-family: Helvetica Neue;
  font-size: 12px;
}
.divider_line {
  padding-top: 0;
  padding-bottom: 1px;
  margin: auto;
}
.feedbac_areas_name {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 700;
}
.feedbacks_areas {
  padding: 0;
}
.feedback_area_heading {
  padding-top: 5px;
  padding-bottom: 5px;
}
.journey_active {
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
}
.journey_border_block {
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0 0 8px 8px;
}
.next_journey_block {
  padding-top: 20px;
}
.active_journey {
  opacity: 1;
}
.unactive_journey {
  opacity: 0.3;
}
.journey_type_steps {
  position: sticky;
  bottom: 0;
}
.vl {
  border-left: 3px solid #e3e3e3;
  height: 30px;
  left: 45%;
}
.scroll-up {
  position: fixed !important;
  top: 70px;
}
.here:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 3px solid red;
  transform: translate(-50%);
}
.adjust-left {
  left: 65% !important;
}
.journey_schedule {
  padding: 0;
  padding-left: 10px;
}
.seperate_line {
  border-top: 1px solid red !important;
}
hr.vertical {
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  size: 50px;
}
.restaurant_block_scroll_down {
  position: absolute;
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  .and-hear-the-voice-o {
    margin-bottom: 30px;
  }
}
.restaurant_journey_map {
  padding-top: 0 !important;
}
.journey_blocks {
  margin-bottom: 30px;
}
.dir-rtl {
  margin-left: 0;
}
div.vertical-line {
  width: 0;
  height: 50px;
  border: 1px solid #eee;
  margin-left: 23px;
}
.vertical-line-rtl {
  margin-right: 23px;
}
@media (min-width: 992px) {
  .margin-for-clients {
    margin: 0 184px 80px 184px;
  }
}
.experts-say-subheading1 {
  color: #777;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin: -10px 0 -10px 0;
}
.margin-bottom-2px {
  margin-bottom: -2px;
}
.toast-title {
  font-weight: 700;
}
.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #fff;
}
.toast-message a:hover {
  color: #ccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  -webkit-text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
  line-height: 1;
}
.toast-close-button:focus,
.toast-close-button:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
.rtl .toast-close-button {
  left: -0.3em;
  float: left;
  right: 0.3em;
}
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
}
#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#toast-container > div {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999;
  -webkit-box-shadow: 0 0 12px #999;
  box-shadow: 0 0 12px #999;
  color: #fff;
  opacity: 0.8;
}
#toast-container > div.rtl {
  direction: rtl;
  padding: 15px 50px 15px 15px;
  background-position: right 15px center;
}
#toast-container > div:hover {
  -moz-box-shadow: 0 0 12px #000;
  -webkit-box-shadow: 0 0 12px #000;
  box-shadow: 0 0 12px #000;
  opacity: 1;
  cursor: pointer;
}
#toast-container > .toast-info {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important;
}
#toast-container > .toast-error {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important;
}
#toast-container > .toast-success {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important;
}
#toast-container > .toast-warning {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=) !important;
}
#toast-container.toast-bottom-center > div,
#toast-container.toast-top-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#toast-container.toast-bottom-full-width > div,
#toast-container.toast-top-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.toast {
  background-color: #030303;
}
.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000;
  opacity: 0.4;
}
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container > div.rtl {
    padding: 8px 50px 8px 8px;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
  #toast-container .rtl .toast-close-button {
    left: -0.2em;
    right: 0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container > div.rtl {
    padding: 8px 50px 8px 8px;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
  #toast-container .rtl .toast-close-button {
    left: -0.2em;
    right: 0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
  #toast-container > div.rtl {
    padding: 15px 50px 15px 15px;
  }
}
